<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>Find my Robot</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Find my Robot</h1>
  <table id="robots" class="display" style="width:100%">
    <thead>
      <tr><th>Name</th><th>Wireless IP Address</th><th>Public IP Address</th><th>Location</th><th>Last Ping</th></tr>
    </thead>
  </table>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
